extends ./layout
block bodyContainer
  include ./header
  - fileImporter.importCss(['/common/codemirror/codemirror.css', '/common/codemirror/monokai.css']);
  - fileImporter.importJs(['/common/codemirror/codemirror.min.js', '/common/codemirror/javascript.min.js']);
  - fileImporter.importCss('/vicanso/stylesheets/article.css');
  - fileImporter.importJs('/vicanso/javascripts/article.min.js');
  #contentContainer
    - var baseDialog = baseConfig.baseDialog;
    - var article = locals.article;
    #articleContainer(class='#{baseDialog.selfClass}')
      div(class='#{baseDialog.titleBarClass}') 
        .uiTitle #{article.title}
      div(class='#{baseDialog.contentClass}')
        each item in article.content
          case item.tag
            when 'title'
              h3 #{item.data}
            when 'code'
              - var lineNumber = item.data.split('\n').length + 1;
              .codeContainer(style='height:#{lineNumber * 13}px')
                textarea #{item.data}
            default
              p !{item.data}